<!DOCTYPE html>
<html>
  <head>
    <title>Join Room Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
      var socket;
      var room_name = "1";

      document.addEventListener("DOMContentLoaded", (event) => {
        socket = io.connect("http://" + document.domain + ":" + location.port);
        joinRoom(room_name);
      });

      function joinRoom(room_name) {
        socket.emit("join", { room: room_name });
      }
    </script>
  </head>
  <body>
    <h1>Join Room Example</h1>
  </body>
</html>
