{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <meta charset="utf-8" />
    <title>Chat</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        console.log("connected!");
      });

      socket.on("new_chat", function (key, message) {
        console.log("new chat!", key, message);
        window.location.reload();
      });
      function joinChat() {
        var key = "{{ id }}";
        console.log("joining chat", key);
        socket.emit("join_chat", key);
      }

      function sendChat() {
        var chatEl = document.getElementById("chat");
        var chat = chatEl.value;
        var key = "{{ id }}";
        console.log("chat:", chat);
        socket.emit("chat", { key: key, chat: chat });
      }
      joinChat();
    </script>
  </head>
    <div>
      <div class="namebar">
        <h1>
          <a href="/profile/{{ppt2}}">{{ppt2}}</a>
        </h1></div>
      <body>
      {{ id }} {% for i in messages %} {% if i[0] == user %}
      <div class="message-container">
        <div class="message left">
          <span>{{i[1]}}</span>
        </div>
        {% else %}
        <div class="message-container">
          <div class="message right">
            <span>{{i[1]}}</span>
          </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    <form method="post" class="row">
      <input type="text" id="chat" name="chat" class="message-input col"/>
      <button class="message-send" onclick="sendChat()">➤</button>
    </form>
  </body>
</html>
{% endblock %}