{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
  </head>
  <body>
    {% block content %}
    <form method="post" class="login">
      <div class="container form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          name="username"
          placeholder="Enter username"
        />
      </div>
      <div class="container form-group">
        <input
          class="form-control form-control-lg"
          name="password"
          placeholder="Enter password"
          type="password"
        />

        <input
          type="submit"
          value="Login"
          class="btn form-control form-control-sm"
        />
        {% if error != None %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}
      </div>
      <div class="container">
        <a href="/createaccount" class="btn form-control form-control-lg"
          >Create Account</a
        >
      </div>
    </form>
    {% endblock %}
  </body>
</html>
