{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contacts</title>
    <link rel="stylesheet" href="\static\main.css" type="text/css" />
  </head>
  <body>
    {% block content %}
    <h1 class="namebar">{{ ppt2 }}</h1>
    <div class="container">
      <h2>Top 3 Artists:</h2>
      {% for i in music%}
      <div class="row music">
        <a class="col music" href="{{i[1]}}"> {{i[0]}} </a>
        <img class="col icon music" src="{{i[2]}}" alt="Band profile picutre" />
      </div>
      {% endfor %}
      <div class="col container">
        <h2>Top Songs - Recent:</h2>
        {% for i in top %}\
        <h2>{{i[0]}} - {{i[1]}}<br /></h2>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
