.ppt1 {
  text-align: right;
  color: #1ed760;
}

.logo {
  align-items: center;
  padding-top: 50px;
  height: 250px;
  width: 700px;
}

.login {
  padding-top: 100px;
}

input {
  background-color: #2d332e;
  height: 100px;
  padding-top: 20px;
  width: 75%;
}

.form-group {
  width: 100%;
}

.form-control {
  background-color: #2d332e;
  width: 75%;
}

.send {
  display: grid;
}

.message-input {
  width: 60%;
}

.message-send {
  width: 20%;
}

.contact {
  width: 140%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
}
.contacts {
  padding-bottom: 50px;
}

.top {
  background-color: #1ed760;
  width: 100%;
  place-items: center;
  padding-bottom: 25px;
}

body {
  background-color: #2d332e;
}

.music {
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  align-items: center;
  width: 75%;
}

.musiclist {
  width: 75%;
}
h2 {
  color: white;
  size: larger;
}

.icon {
  width: 200px;
}

.container {
  display: grid;
  place-items: center;
}

.btn {
  font-size: larger;
  background-color: #2d332e;
  border-color: white;
  display: grid;
  width: 75%;
  margin-top: 10px;
}

.tag {
  font-size: 50px;
  font-weight: bolder;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  display: inline-block;
  max-width: 60%;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #e0e0e0;
  word-wrap: break-word;
  font-size: 200%;
}

.message.left {
  align-self: flex-start;
  background-color: #d1e7dd;
}

.message.right {
  align-self: flex-end;
  background-color: #cfe2ff;
}

.namebar {
  width: 100%;
  background-color: #202421;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
}

.add {
  width: 75%;
}

button {
  color: #ffffff;
  background-color: #2d332e;
}
